.PathwayfloatGene {
	float:left;
}
.PathwayfloatGene {		
	width:80px;
	height:28px;
	line-height:28px;
	background:red;
	color:#FFF;
	margin:5px 10px;
	font-size:12px;
	display:block;
	text-align:center;
	text-decoration:none;
}
.PathwayfloatGene :hover{
	width:78px;
	height:26px;
	line-height:28px;
	border:1px solid red;
	color:red;
	background:#FFF;
}
